.btn-primary {
  background-color: var(--bgColor_prim_red);
  line-height: 24px;
  border-radius: 6px;
  color: var(--color_white);
  text-transform: capitalize;
  font-weight: 700;
  text-align: center;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--bgColor_sec_red);
  }

  &.btn-lg {
    padding: 20px 40px;
    font-size: 20px;
  }

  &.btn-md {
    padding: 12px 40px;
    font-size: 18px;
  }
}

.btn-text {
  color: var(--color_prim_red);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &:hover {
    color: var(--color_sec_red);
    text-decoration: underline;
  }
}

.btn-secondary {
  font-style: normal;
  font-weight: 700;
  text-align: center;
  line-height: 24px;
  text-transform: capitalize;
  color: var(--color_tert_black);
  border-radius: 8px;
  background-color: var(--bgColor_light_grey);
  border: 2px solid var(--bgColor_tert_red);

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.chatbot-buttons{
  a{
    display: inline-flex;
    align-items: center;
    padding: 8px 14px;
    background-color: var(--bgColor_dark_grey);
    color: var(--color_white);
    border-radius: 24px;
    font-weight: 600;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    margin-right: 4px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

    img{
      width: 18px;
      margin-right: 4px;
      vertical-align: middle;
    }

    &:first-of-type {
      background-color:#10a37f;
      &:hover{
        // background-color:#0b8365;
        opacity: 0.9;
      }
    }
    &:last-of-type {
      background-color: #6f42c1;
      &:hover{
        // background-color:#522e95;
        opacity: 0.9;

      }
    }
  }
}