/* .styled-text{
    background-color: var(--bgColor_prim_red);
    color: var(--color_white);
    padding: 0 2px;
  } */

p,
li {
  color: var(--color_sec_black);
}

.gap-4 {
  gap: 1rem;
}

.flex-grow-1 {
  flex-grow: 1;
}

.v-center {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.line-clamp-9 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 9;
}

.xy-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  ;
  transform: translate(-50%, -50%);
}
.text-description{
  p{
    margin-top: 0 !important;
  }
}

.invert {
  filter: invert(100%);
}

.scaleable-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.center-two-ele-in-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .item {
    flex: 0 0 calc(33% - 20px);
    padding: 24px;
  }
}

// .four-ele-in-grid {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   gap: 16px;

//   .industrues-card {
//     flex: 0 0 calc(25% - 20px);
//     padding: 16px;
//     h5{
//       font-size: 18px;
//     }
//   }
//   .cta-card{
//     flex: 0 0 calc(25% - 20px);
//   }

// }

.four-ele-in-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .industrues-card {
    flex: 0 0 calc(25% - 20px);
    padding: 16px;
    h5{
      font-size: 18px;
    }
  }
  .cta-card{
    flex: 0 0 calc(25% - 20px);
  }

}


.center-two-ele-in-with-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 20px;
  margin: 20px;
  padding: 20px;
}

/* .center-two-ele-in-with-grid .item{
    grid-column: span 2;
  }
  
  .center-two-ele-in-with-grid .item:nth-last-child(1){
    background-color: pink;
  }
  .center-two-ele-in-with-grid .item:nth-last-child(2){
    background-color: var(--bgColor_prim_red);;
  }
  Note: Selecting the 2nd last item then-->> 4th grid item is ending at the 4th column 
  .center-two-ele-in-with-grid .item:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: 4;
  }
  .center-two-ele-in-with-grid .item:last-child:nth-child(3n - 1) {
    grid-column-end: -2;
  } 
  */

.feedback {
  p {
    max-height: 96px;
    overflow-y: auto;
    padding-right: 16px;
    font-size: 16px;
  }

  p::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
  }

  p::-webkit-scrollbar {
    width: 4px;
    background-color: #F5F5F5;
  }

  p::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #ababab;
  }
}





/* ---------------------- Cards Css  ------------------------ */

.card-utilities {
  border-radius: 6px;
  border: 1px solid var(--color_light_grey);
  background: var(--bgColor_white);
  overflow: hidden;
}

.default-card {
  padding: 28px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.left-icon-card{
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 28px;

  span{
    display: block;
    font-weight: 400;
    color: var(--color_sec_black);
    margin-top: 2px;
  }
}

.industrues-card {
  border-radius: 6px;
  border: 1px solid var(--color_light_grey);
}

.lg-card {
  padding: 60px;
}

.color-white {
  p {
    color: var(--color_white);
  }
}

.image404{
  max-width: 80%;
  margin: 40px auto;
}


// ====================================================================================================

.hero {
  .featured-img{
    height: 700px;
    object-fit: cover;
  }
  .content {
    padding-left: calc(100% - 575px);
  }
  .container{
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
  }
  .fullheightImage{
    img{
      height: 100%;
    }
  }
}
.single-cs{
  .hero-content{
    padding-left: calc(100% - 700px);
    padding-right: 56px;
    margin-top: 100px;
    ul {
      margin-top: 32px;
      li{
        color: var(--color_white);
        span{
          font-weight: 600;
        }
      }
    }
  }

}

.logos{
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;

  img{
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);

    &:hover{
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
  &.cols-3 .item{
    flex: 0 0 32%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.cols-4 .item{
    flex: 0 0 23.7%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &.cols-5 .item{
    flex: 0 0 18%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img{
    width: 64px;
  }
}

.review{
  .quote-img{
    position: absolute;
  }
  .content{
    padding-left: 80px;
  }
  .reviewer_image{
    width: 64px;
    height: 64px;
    border-radius: 100%;
    object-fit: cover;
    background-color: var(--color_light_grey);
  }
}
.outcome{
  ul li p{
    margin-top: 4px;
  }
  .total-info:first-child{
    border-right: 1px solid var(--color_sec_black);
  }

}
.hero-cards{
    display: flex;
    flex-wrap: wrap;

  .item{
    flex: 1 1 0px;
    // img{
    //   width: 50px;
    // }
  }
  .item:nth-child(1){
      background-color: var(--bgColor_white);
  }
  .item:nth-child(2){
      background-color: var(--bgColor_light_grey);
  }
  p{
    color: var(--color_tert_black);
    margin-top: 0 !important;
    line-height: 1.3;
    font-weight: bold;
  }
}

.approach{
  background-size: 100%;
  padding-bottom: 24px;
  .approach-card{
    position: relative;
    padding: 24px 44px;

    &:first-child{
      // border-top: 3px solid #000;
      // border-left: 3px solid #000;
      // border-right: 3px solid #000;
      // border-radius: 24px 24px 0 0;
    }
    &:last-child{
      margin-top: 64px;
      h3{
        color: var(--color_prim_red);
      }
    }
    p{
      margin-top: 0 !important;
      color: var(--color_tert_black);
      font-size: 18px;
    }
  }
}

.dev_life_cycle{
  position: relative;

  &::before{
    content: "";
    position: absolute;
    top: -48px;
    height: 2px;
    width: 100%;
    background-color: var(--bgColor_sec_black);
  }

  .default-card{
    position: relative;
    overflow: visible !important;

    &::before{
      content: '';
      position: absolute;
      top: -55px;
      left: 32px;
      width: 14px;
      height: 14px;
      border-radius: 100%;
      background-color: var(--bgColor_sec_black);
    }


    &::after{
      content: "";
      position: absolute;
      top: -52px;
      left: 38px;
      height: 52px;
      width: 2px;
      background-color: var(--bgColor_sec_black);
    }
    &:last-child{
      background-color: var(--bgColor_light_grey);
    }
  }

}

// ====================================================================================================

.empowerment {
  p {
    font-size: 28px;
    letter-spacing: -1.4px;
  }
}


// ====================================================================================================



.team-wrapper {
  height: 310px;
  width: 100%;
}


.team-card {
  position: relative;

  &:hover .team-content-overlay {
    height: 100%;
  }

}

.team-avatar-wrapper {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.team-content-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--bgColor_white);
  opacity: 0.88;
  overflow: hidden;
  width: 100%;
  height: 0;


  -webkit-transition: .4s ease;
  -moz-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;

  span {
    max-width: 72px;
    height: 4px;
    border-radius: 3px;
    display: block;
    margin: auto;
  }

}


.cs-thumbnail-wrapper {
  height: 280px;
  border-radius: 6px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.client-avatar-wrapper {
  width: 64px;
  height: 64px;
  border-radius: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.featuredCtaVersion-2 {
  img {
    position: static;
  }
}

.rendered-list {
  p {
    display: flex;
    gap: 8px;
    margin: 8px 0;
  }
}

.expert-avatar-wrapper {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.cta-card {
  background-color: var(--bgColor_dark_grey);
  border-radius: 4px;
  padding: 32px;
  cursor: pointer;
  flex-grow: 1;

  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  p {
    color: var(--color_white);
  }

  img {
    margin: auto;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }

  &:hover {
    background-color: var(--bgColor_prim_red);
  }


  &.active {
    background-color: var(--bgColor_white) !important;

    img {
      filter: brightness(1) invert(0);
    }

    p {
      color: var(--bgColor_prim_red) !important;
    }
  }


}

.techs-stacks {
  img {
    cursor: pointer;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);

    &:hover {
      -webkit-filter: grayscale(0%);
      -moz-filter: grayscale(0%);
      -ms-filter: grayscale(0%);
      -o-filter: grayscale(0%);
      filter: grayscale(0%);
    }
  }
}


.stats {
  display: flex;
  justify-content: space-between;

  .stats-card {
    img {
      position: absolute;
      left: 0;
      top: 8px;
      width: 32px;
      height: 32px;
    }

    &>div {
      padding-left: 56px;
    }
  }

}

.stats-v2 {
  .stats-card {
    padding: 32px 0;
    border-bottom: 2px solid var(--color_prim_black);
  }

  .stats-card:last-child {
    border-bottom: 0;
  }
}



.left-full-box {
  padding: 120px 80px;

}

.right-full-box {
  padding: 40px 80px;
}




.cta-team-pic {
  position: absolute;
  bottom: 0;
}

.cta-cards-wrapper {
  flex-wrap: wrap;
}





.vw-map {
  position: relative;

  h2 {
    position: relative;
    z-index: 99;
  }

  &::before {
    content: '';
    position: absolute;
    left: 300px;
    right: 0;
    background-image: linear-gradient(90deg, var(--color_normal_grey), rgb(255 255 255 / 0%));
    width: 50%;
    height: 100%;
    bottom: 0;
    z-index: 9;
  }

  &.bgColor-tertiary-black::before {
    background-image: linear-gradient(90deg, #091D28, transparent);

  }

  .locations-map {
    position: absolute;
    right: -220px;
    width: 1040px;
    top: -20px;
  }

  .gap-y {
    padding: 80px 0;
  }

}



.lead-collection {
  position: relative;
  margin-bottom: -128px;
}

.error {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  z-index: 9;
}


/* ========================================================================================== */


.article-thumbnail-wrapper {
  height: 180px;
  overflow: hidden;
  border-radius: 6px 6px 0 0;

  img {
    height: 100%;
    object-fit: cover;
  }
}

.article-content-wrapper {
  display: flex;
  flex-direction: column;

  h6 {
    min-height: 72px;
  }
}

.blog-thumbnail-wrapper {
  height: 300px;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid var(--bgColor_light_grey);
}

.popular-blog-wrapper {
  height: 96px;
}


/* ========================================================================================== */

.cats {

  display: flex;
  // justify-content: center;
  gap: 8px;
  flex-wrap: wrap;

  li {
    padding: 10px 20px;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;

    &:hover,
    &.active {
      background-color: var(--bgColor_prim_red);
      color: var(--color_white);
    }
  }

}


.ctas_wrapper span:last-child span {
  display: none;
}


.blog-subscription-form {
  input {
    background-color: var(--bgColor_sec_black);
    max-width: 612px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
  }
}

#mc-embedded-subscribe {
  background-color: var(--bgColor_prim_red);
  color: var(--color_white);
}

.mc-field-group {
  max-width: 50%;
  margin: 40px auto;
}

#mce-EMAIL {
  background-color: var(--bgColor_sec_black);
  border-radius: 4px;
  height: 62px;
  padding: 20px;
  width: 100%;
}

.sproject-list {

  &>ul>li>ul {
    margin-top: 8px;
  }

  &>ul>li {
    margin-bottom: 16px;
  }

  li {
    position: relative;
    padding-left: 18px;
    line-height: 1.6;

    span {
      font-size: 12px;
      color: var(--color_intense_grey);
    }

  }

  ul li::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: var(--bgColor_intense_grey);
    position: absolute;
    left: 0;
    top: 9px;
    z-index: 9;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  ul li ul li::before {
    width: 6px;
    height: 6px;
    background-color: var(--bgColor_light_grey);
  }

}


#contact_page {
  .lead-collection {
    margin-bottom: 0;
    padding: 120px 0;
  }

}

// =================================================================================================

.bzOpeningsList {

  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;

  .bzOpening {
    width: 23%;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid var(--bgColor_light_grey);
    position: relative;
    transition: box-shadow 0.3s ease 0s;

    &:hover {
      box-shadow: 0 4px 20px 0 rgba(167, 163, 182, 0.45);
    }

    a {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      height: 100%;

      h2 {
        font-size: 20px;
        margin-bottom: 12px;
        color: var(--bgColor_prim_black);
      }

      .bzMeta {
        padding-left: 20px;
        flex-grow: 1;
        margin: 0 0 16px;

        li {
          position: relative;

          &::before {
            content: " ";
            position: absolute;
            left: -16px;
            top: 8px;
            background-color: var(--bgColor_prim_red);
            width: 8px;
            height: 8px;
            z-index: 9;
            transform: rotate(45deg);
          }
        }
      }

      button {
        order: 3;
        font-weight: 600;
        color: var(--bgColor_prim_red);

        &:hover {
          text-decoration: underline;
        }
      }

    }




  }

}

.no-positions-container {
  padding: 24px 0;

  h2 {
    font-size: 20px;
    text-align: center;
    color: var(--bgColor_sec_black);
  }
}

// =================================================================================================


// =================================================================================================
.faq {
  ul {
    margin: 16px 0 0;

    li {
      position: relative;
      padding-left: 32px;

      &::before {
        content: " ";
        position: absolute;
        left: 12px;
        top: 8px;
        background-color: var(--bgColor_prim_red);
        width: 8px;
        height: 8px;
        z-index: 9;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }


}


// =================================================================================================

#single-blog-post {
  h1 {
    font-weight: bold;
  }

  h2 {
    font-size: 32px;
    margin: 40px 0 12px;
    color: var(--color_tert_black);
    font-weight: bold;

    strong {
      font-weight: bold;
    }
  }

  h3 {
    margin: 40px 0 12px;
    color: var(--color_dark_grey);
    font-weight: bold;

    strong {
      font-weight: bold;
    }
  }

  h4 {
    margin: 24px 0 12px;
    font-size: 20px;
    color: var(--color_dark_grey);
    font-weight: bold;

    strong {
      font-weight: bold;
    }
  }

  h5 {
    margin: 24px 0 12px;
    font-size: 18px;
    color: var(--color_dark_grey);
    font-weight: bold;

    strong {
      font-weight: bold;
    }
  }
  img{
    border-radius: 8px;
    margin-bottom: 32px;
  }


  p {
    margin-bottom: 16px;
    font-size: 18px;
  }

  a {
    color: var(--bgColor_prim_red);

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    margin-bottom: 24px;

    li {
      position: relative;
      padding-left: 16px;
      margin-left: 16px;
      font-size: 18px;
      line-height: 1.6;

      &::before {
        content: " ";
        height: 8px;
        left: 0;
        position: absolute;
        top: 8px;
        transform: rotate(45deg);
        background-color: var(--bgColor_prim_red);
        width: 8px;
        z-index: 9;
      }
    }
  }

  .todo-list{
    ul{
      li{
        position: relative;
        padding-left: 16px;
        margin-left: 16px;
        font-size: 18px;
        line-height: 1.6;

        &::before{
          display: none;
        }

        &::after{
          content: "\2611\0020";
          position: absolute;
          left: -11px;
          top: -2px;
          z-index: 9;
          font-family: auto;
          font-size: 21.5px;
        }
      }
    }
  }
  
  ol{
    padding-left: 32px;
    li{
      list-style-type: auto;
      margin: 8px 0;
    }
  }

  img, p img, a img{
    border-radius: 6px;
    margin-bottom: 32px;
  }
  hr {
    margin: 12px 0;
  }
  iframe{
    width: 100% !important;
  }

}

.nested-li-richText{
  ul {
    margin: 0 0 32px 24px !important;
    li{
      font-size: 18px !important;
    }
  }
}


.author-summary{
  img{
    background-color: var(--bgColor_white);
  }
  a{
    &:hover{
      color: var(--color_prim_red)
    }
  }
}

// =================================================================================================

.kumoCore_title {
  display: flex;
  align-items: center;
  gap: 16px;
}



.single-cs {

  .overview {
    display: flex;
    align-items: center;
    gap: 12px;  
  }

  .overview>a {
    display: inline-block;
    width: 120px;
    height: 76px;
    margin-bottom: 0;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid var(--color_sec_black);
    flex: 0 0 auto;
    // position: absolute;
    // right: 0px;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  p {
    font-size: 20px;
    margin-top: 20px;
  }

  // .cs-client {
  //   width: 120px;
  //   height: 76px;
  //   margin-bottom: 24px;
  //   padding: 4px;
  //   border-radius: 6px;
  //   border: 1px solid var(--color_sec_black);

  //   img {
  //     width: 100%;
  //     height: 100%;
  //     object-fit: cover;
  //   }
  // }

  .cs-links {
    margin-top: 24px;
    display: flex;
    gap: 12px;
  }

  ul {
    margin-top: 20px;

    li {
      font-size: 20px;
      line-height: 1.4;
      padding-left: 20px;
      position: relative;
      margin: 12px 0;

      a {
        color: var(--bgColor_prim_red);

        &:hover {
          text-decoration: underline;
        }
      }

      &::before {
        background-color: #eb4042;
        background-color: var(--bgColor_prim_red);
        content: " ";
        height: 8px;
        left: 0;
        position: absolute;
        top: 10px;
        transform: rotate(45deg);
        width: 8px;
        z-index: 9;
      }
    }
  }
  ol{
    margin-top: 20px;
    list-style: auto;
    li{
      font-size: 20px;
      line-height: 1.4;
      position: relative;
      margin: 12px 0;
      margin-left: 20px;
    }
  }

  .color-white {
    li {
      color: var(--color_white);
      a {
        color: var(--bgColor_prim_red);

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }


  .white-box {
    border-radius: 6px;
    margin-top: 24px;
    background-color: var(--bgColor_white);
    padding: 24px;
    color: var(--color_prim_black);
    font-weight: 600;
    border: 1px solid #DCDFEC;
    box-shadow: 0px 4px 20px 0px rgba(167, 163, 182, 0.45);

    p {
      margin-top: 0;
    }
  }
}


.cs-review {
  &>p {
    margin-top: 24px !important;
  }

  .reviewer-avatar {
    width: 64px;
    height: 64px;
    border-radius: 100%;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}



// =============== Sucess popup ======================
.success {
  background-color: var(--bgColor_white);

  border-radius: 8px;
  padding: 48px;
  position: fixed;
  top: 24%;
  left: 0;
  right: 0;
  max-width: 40%;
  margin: auto;
  box-shadow: 0 0 3px #747474;
  z-index: 9999999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;

  &.show {
    visibility: visible;
    opacity: 1;
  }
}

.overlay {
  background-color: #091d28;
  opacity: 0.6;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: none;

  &.show {
    display: block;
  }
}


.default-list{
  li{
    padding-left: 24px;
    position: relative;
    &::before{
      background-color: var(--bgColor_prim_red);
      content: " ";
      height: 8px;
      left: 0;
      position: absolute;
      top: 10px;
      transform: rotate(45deg);
      width: 8px;
      z-index: 9;
    }

  }
}

.logo-img{
  width: 170px;
  height: 40px;
}

.card-icon{
  width: 40px;
  height: 40px;
}
.hamburger, .cross-icon{
  width: 32px;
  height: 32px;
}

.video-container {
  width: 100%;
  aspect-ratio: 16 / 9;
  iframe {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
  }
}

[id^="leadinModal"] {
  display: none !important;
}
.leadinModal-49495{
  display: none !important;
}