/* ------------------- Header Css ------------------- */


header li:last-child ul li:last-child {
  display: none;
}


.header {
  position: sticky;
  top: 0;
  z-index: 999;
  li {
    display: inline-block;

    a {
      font-size: 16px;
      font-weight: 700;
      padding: 20px 16px;
      svg {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        width: 18px;
      }

      &:hover {
        color: var(--color_prim_red);

        svg {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          transform: rotate(45deg);

          path {
            fill: var(--color_prim_red);
          }
        }

      }

      &.isActiveMenuItem {
        color: var(--color_prim_red);

        svg path {
          fill: var(--color_prim_red);
        }
      }
    }

  }
}
.dropdown {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  padding: 0 8px;
  display: none;
  z-index: 999;

  li {
    display: block;
    a {
      padding: 6px 16px !important;
    }
  }
}
.dropdown-parent:hover .dropdown {
  display: block;
}
.hasDropdown ul li {
  display: block;
  margin: 8px 0;
  a {
    font-size: 14px !important;
  }
}
@keyframes stickySlideDown {
  0% {
    opacity: 0.7;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
  }

}

@keyframes stickySlideUp {
  0% {
    opacity: 0.7;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}