/* ------------------- Header Css ------------------- */
.header {
  position: sticky;
  top: 0;
  z-index: 999;
  li {
    display: inline-block;

    a {
      font-size: 15px;
      font-weight: 700;
      padding: 20px 0;
      margin: 0 14px;
      svg {
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -o-transition: all 0.3s ease;
        transition: all 0.3s ease;
        width: 18px;
      }
      &:hover {
        color: var(--color_prim_red);
        svg {
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          transform: rotate(45deg);

          path {
            fill: var(--color_prim_red);
          }
        }
      }
      &.isActiveMenuItem {
        color: var(--color_prim_red);

        svg path {
          fill: var(--color_prim_red);
        }
      }
    }
  }
}
header > ul > li:last-child a, .mobileNavigation >ul> li:last-child a {
    font-weight: 400;
    margin-left: 80px;
    font-family: "Instrument Serif", sans-serif !important;
    font-size: 18px;
    letter-spacing: 0.3px;
  span {
    font-size: 10px;
    padding: 1px 4px;
    background-color: var(--bgColor_shipyard);
    color: var(--color_white);
  }
  &:hover{
    color: var(--bgColor_shipyard);
  }
}
header > ul > li:last-child::after {
  content: "";
  position: absolute;
  left: 32px;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 40%;
  background-color: var(--bgColor_intense_grey);

}
header .header-btn {
  margin-left: auto;
}
header .logo-dot, .mobileNavigation .logo-dot {
  width: 8px;
  height: 8px;
  background: var(--bgColor_shipyard);
  border-radius: 50%;
  display: inline-block;
}
.dropdown {
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  padding: 0 8px;
  display: none;
  z-index: 999;
  li {
    display: block;
    a {
      padding: 6px 16px !important;
      margin: 0;
    }
  }
}
.dropdown-parent:hover .dropdown {
  display: grid;
}
.hasDropdown ul li {
  display: block;
  border-radius: 4px;
  padding: 6px 0;
  a {
    font-size: 14px !important;
  }
  &:hover{
    background: var(--color_normal_grey);
  }
}
@keyframes stickySlideDown {
  0% {
    opacity: 0.7;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
  }
}

@keyframes stickySlideUp {
  0% {
    opacity: 0.7;
    -webkit-transform: translateY(0%);
    -moz-transform: translateY(0%);
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
.mega-menu {
  padding: 20px;
  left: 44%;
  max-width: 600px;
  transform: translate(-44%);
  width: -moz-max-content;
  width: max-content;
  z-index: 999;

  .list-items{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 12px;
  }

  &.has-social-media{
    grid-template-columns: repeat(2, minmax(0, 1fr));

    .list-items{
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
}