/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* purgecss end ignore */
@import 'tailwindcss/utilities';

@import './fonts.scss';
@import './typography.scss';
@import './colors.scss';
@import './header.scss';
@import './footer.scss';
@import './buttons.scss';
@import './spacing.scss';
@import './general.scss';
@import './sliders.scss';
@import './timelines.scss';
@import './forms.scss';
@import './animations.scss';

body{
  overflow-x: hidden;
}

*,
body {
  font-family: 'Inter', sans-serif !important;
}

h1{
  line-height: 1.1 !important;
}

h2 {
  line-height: 1.2 !important;
}


.truncate-3-lines {
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  line-clamp:3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.markdown {
  text-align: left;
  color: var(--color_dark_grey);
  p {
    margin: 12px 0;
    font-size: 18px;
  }
  img {
    border-radius: 0.5rem;
    margin: 16px 0;
  }
}


.blog-and-webinar {
  display: flex;
  flex-direction: column-reverse;
}



.social-content li {
  display: block;
  position: relative;
}

.social-content>ul>li {
  margin-bottom: 1rem !important;
}

.social-content ul ul li {
  font-size: 1rem;
  margin: 4px 0;
}

.social-content li::before {
  position: absolute;
  content: '';
  background-color: #6d7e7f;
  height: 6px;
  width: 6px;
  border-radius: 100%;
  left: -16px;
  top: 10px;
}

.social-content ul {
  padding-left: 1rem;
}

.c-studies li::before {
  background-color: var(--color_white);
}


input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}


.single-post-featured-img {
  display: none;
  width: 0 !important;
  height: 0;
}

.w-90 {
  width: 90%;
}

.container {
  width: 90%;
}


// =================FAQs==========================
.faq {
  border-bottom: 1px solid #000;
  img {
    width: 24px;
  }

  .faq-icon {
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    &.open{
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .question {
    width: 90%;
  }
  .answer {
    -webkit-transition: max-height 0.4s;
    -moz-transition: max-height 0.4s;
    -ms-transition: max-height 0.4s;
    -o-transition: max-height 0.4s;
    transition: max-height 0.4s;
    overflow: auto;
    max-height: 0;
    &.open {
      max-height: 600px;
      padding-bottom: 32px;
    }
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      appearance: none;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      width: 4px;
      background-color: #e8d2b6;
      border-radius: 50px;
    }
  }


}

.blog-leftsidebar{
  position: sticky;
  top: 120px;
  ul li{
    line-height: 1.2;
    padding: 10px 0;
    cursor: pointer;
    font-weight: 600;
    border-bottom: 1px solid var(--color_grey);
    span.active{
      color: var(--color_prim_black);
    }
    // span:hover{
    //   color: var(--color_prim_black);
    // }
  }
}

.cs-cta{
  position: relative;
  margin-bottom: 32px;
  .content{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: auto;
    padding: 20px;
  }
}

.blog-rightsidebar{
  position: sticky;
  top: 120px;
  .wrapper{
    position: relative;
    border-radius: 6px;
    overflow: hidden;
    .content{
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: auto;
      padding: 20px;
      background: linear-gradient(0deg, #000000, transparent);
    }
  }

}
.about-author{
  border-radius: 6px;
  .avatar{
    flex: 0 0 80px;
    img{
      height: 80px;
      width: 80px;
      object-fit: contain;
      background: #cccccc;
    }
  }
}
.blog-post-date{
  background: #485655;
  display: inline-block;
  color: var(--color_white);
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 13px;
}
.authors{
  display: flex;
  .co-author{
    margin-left: 24px;
    padding-left: 24px;
    border-left: 1px solid #898989;
  }
}

// ==============================================

@import './responsive.scss';