/* ============================================ */
@media only screen and (min-width: 1800px) {
    html {
        zoom: 133%;
    }

}

@media only screen and (min-width: 1280px) {
    .container {
        max-width: 1180px;
    }
}



@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .fw-image-and-fw-content h1 {
        font-size: 32px !important;
    }

    .fw-image-and-fw-content {
        .content {
            padding-left: calc(100% - 88%) !important;
        }
    }
}


/* ------------------------- xl ------------------------- */
@media only screen and (max-width: 1280px) {


    .header {
        .btn-primary.btn-md {
            padding: 12px 24px;

        }

        ul {
            li {
                a {
                    font-size: 14px;
                    padding: 20px 8px;
                }
            }
        }
    }

    .stats {
        p {
            font-size: 14px;
        }
    }

    .approach{
        background-image: none !important;
        
        .approach-card:first-child{
            border-left: 3px solid var(--color_prim_black);
        }
        .approach-card:last-child{
            margin-top: 0;
            border-left: 3px solid var(--color_prim_red);

        }
       
    }


    .single-cs .hero-content {
        padding-left: 8%;
        margin-top: 48px;
    }



}

/* ------------------------- lg ------------------------- */
@media only screen and (max-width: 1024px) {

    h1,
    .heading-1 {
        font-size: 40px;
    }

    h2 {
        font-size: 32px;
    }

    h3 {
        font-size: 22px;
    }

    footer>div {
        grid-template-columns: initial !important;
    }

    .review-card {
        align-items: center;
    }

    .stats {
        flex-wrap: wrap;
        flex-direction: column;

        .v-line-border {
            display: none;
        }

        .stats-card {
            border-bottom: 1px solid var(--color_white);
            padding: 12px 0;

            img {
                top: 16px;
            }

            &.last-item {
                border-bottom: 0;
            }
        }

    }


    .empowerment {
        p {
            font-size: 22px;
        }
    }

    .vw-map {
        .locations-map {
            position: static;
            width: 100%;
        }

        &::before {
            display: none;
        }

        .gap-y {
            padding: 0;
        }

    }


    /*  --------- Consulting Approach TimeLine Css ------------ */

    .consulting_timeline {
        .approach_wrapper {
            border: 2px solid var(--color_light_grey);
            padding: 16px;

            .steps_wrapper {
                margin-top: 0;
                padding-top: 0;
            }
        }

        .approach_heading {
            display: flex;
            gap: 8px;
        }

        .approach_step {
            padding-left: 44px;

            span {
                width: 32px;
                height: 32px;
                font-size: 16px;
                line-height: 33px;
                top: 0;
            }
        }

    }

    .consulting_timeline::after,
    .consulting_timeline .approach_wrapper .steps_wrapper::before,
    .consulting_timeline .approach_wrapper .steps_wrapper::after {
        display: none;
    }



    /* ---------------------------------------------------------- */

    .teams_approach_timeline {
        white-space: inherit;
        overflow: auto;
        padding-left: 8px;

        .approach_step {

            span {
                width: 40px;
                height: 40px;
                font-size: 22px;
                line-height: 42px;

            }

            .inner-content {
                position: static;
                width: 100%;

                &::before {
                    left: -42px;
                    border-top: 3px dotted var(--color_white);
                    width: 64px;
                    top: 18px !important;
                    height: auto !important;
                }

                &::after {
                    top: 10px;
                    left: -52px;
                    bottom: 0;
                    width: 20px;
                    height: 20px;
                    transform: translateY(0%);
                    border-radius: 100%;
                    border: 4px solid var(--color_white);
                    z-index: 9999;
                    background-color: var(--bgColor_pink);
                }

                div {
                    padding-left: 56px;
                }
            }

            &::after {
                top: 10px !important;
                left: -52px !important;
                width: 20px !important;
                height: 20px !important;
                transform: translateY(0%) !important;
            }

            &:nth-child(odd) .inner-content {
                -webkit-transform: translateY(0%);
                -moz-transform: translateY(0%);
                transform: translateY(0%);
            }

            &:nth-child(even) .inner-content {
                -webkit-transform: translateY(0%);
                -moz-transform: translateY(0%);
                transform: translateY(0%);
            }

            display: block;
            width: 100%;
            height: auto;
            background: transparent;
            margin: 40px 0;

        }

        .approach_wrapper {
            position: relative;
            width: 100%;
            padding: 0 0 0 48px;
            transition: all 1s;

            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: -20px;
                height: calc(100% + 40px);
                width: 12px;
                background-color: var(--bgColor_pink);
                border-radius: 32px;

            }
        }
    }


    /* ==================================================================================  */

    .next_step_timeline {

        .next_step {

            &::before {
                height: 2px;
                width: 60px;
                left: 0;
                top: 50%;
            }

            &::after {
                height: 12px;
                width: 12px;
                left: -2px;
                top: calc(50% - 5px);
                z-index: 9;
                background-color: var(--bgColor_pink);
                border: 2px solid var(--color_white);
                border-radius: 100%;
            }

            padding-bottom: 0;
            margin: 16px 0;

            span {
                width: 40px;
                height: 40px;
                font-size: 22px;
                left: 24px;
                top: 50%;
                transform: translateY(-50%);
                text-align: center;
                display: inline-block;
                line-height: 1.8;
                background-color: var(--bgColor_prim_red);
                color: var(--color_white);
                border-radius: 100%;
            }
        }

        &::after {
            height: 100%;
            width: 8px;
            top: 0;
        }

    }

    .bzOpeningsList {
        .bzOpening {
            justify-content: center;
            width: 31%;
        }
    }

    .fw-image-and-fw-content {
        .content {
            padding: 24px 24px 64px;
        }
    }


    // .single-cs .hero-content {
    //     padding-left: calc(100% - 89%);
    //     margin-top: 24px;
    // }

    .dev_life_cycle{
        padding-left: 48px;
        top: 0;
        &::before{
            width: 2px;
            height: 100%;
        }
        .default-card{
            &::before{
                top: 32px;
                left: -55px;
            }
            &::after{
                top: 38px;
                left: -45px;
                width: 45px;
                height: 2px;
            }
        }
    }
    

}

/* ------------------------- md ------------------------- */

@media only screen and (max-width: 767px) {

    .max-w-7\/10 {
        max-width: 100%;
    }

    h1,
    .heading-1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 18px;
    }

    .text-big {
        font-size: 16px;
    }

    .text-card {
        font-size: 14px;
    }

    .btn-primary {
        &.btn-lg {
            font-size: 16px;
            padding: 16px 32px;
            width: 100%;
        }

        &.btn-md {
            padding: 12px 24px;
            font-size: 16px;
        }
    }

    .btn-text {
        font-size: 16px;
    }

    .three-lines,
    .red-dots,
    .black-dots {
        display: none;
    }

    .overlapped-section {
        padding-top: 48px !important;
        margin-top: 0;
    }

    .border-graident-thick::before {
        border-radius: 1.2rem;
    }



    .hero {
        .content {
            padding-left: 6%;
            padding-right: 6%;
        }
    }

    .stats {
        border-right: 0;
        border-bottom: 2px solid var(--color_white);
        padding-bottom: 24px;

        h3 {
            font-size: 26px;
        }

        &:last-child {
            border-bottom: 0;
            padding-bottom: 0;
        }
    }

    .empowerment {
        .styled-text {
            display: block;
            width: max-content;
            margin: 0 auto;
        }

        p {
            font-size: 18px;
        }

    }



    .techs-stacks,.logos {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;

        img {
            width: 48px;
        }
    }


    .center-slider {

        padding-bottom: 40px;

        .slick-center,
        .slick-slide[aria-hidden="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] {
            transform: scale(1);

        }

        .slick-current.slick-active {
            transform: scale(1);
        }

        .slick-track {
            padding: 12px 0 32px;
        }

        .slick-dots {
            bottom: -10px;
        }
    }





    .header {
        ul {
            li {
                display: block;

                .isActive svg {
                    transform: rotate(45deg);
                }

                a {
                    padding: 8px;
                    color: var(--color_prim_black);

                    &:hover {
                        color: initial;

                        svg {
                            transform: initial;

                            path {
                                fill: initial;
                            }
                        }
                    }
                }
            }
        }
    }


    .dropdown {
        position: static;
        display: block;

        &.sm {
            position: static;
            width: 100%;

            li {
                display: block;
            }
        }
    }

    .faq {
        .question {
            h4 {
                font-size: 20px;
                line-height: 24px;
                font-weight: 600;
            }
        }
    }


    .form-control {
        height: 46px;
    }

    .client-avatar-wrapper {
        width: 48px;
        height: 48px;
    }

    .cta-team-pic {
        position: static;
    }

    .cs-thumbnail-wrapper {
        height: 200px;
    }

    .center-two-ele-in-grid .item {
        flex: 0 0 calc(100% - 0px);
    }
    .four-ele-in-grid .industrues-card {
        flex: 0 0 calc(100% - 0px);
    }
    .four-ele-in-grid.two-on-mobile{
        display: grid !important;
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
    }
    .cta-card {
        padding: 24px;
    }

    /* =====================Journey In Web3======================== */

    .web3-journey-wrapper {
        flex-direction: column;



        .journey {
            text-align: left;
            padding: 0 0 0 96px;
            margin: 24px 0;

            &::after {
                display: none;
            }

            &::before {
                display: none;
            }

            .year {
                padding-bottom: 16px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);

                h5 {
                    height: 80px;
                    width: 80px;
                    border: 6px solid var(--color_pink);
                    line-height: 28px;
                    font-size: 14px;
                    margin-bottom: 0;
                }
            }
        }

        &::after {
            height: 100%;
            left: 34px;
            width: 12px;
            top: 0;
        }


    }

    .web3-journey-wrapper .journey .year .web3-journey-wrapper .journey::before {
        display: none;
    }

    footer {
        padding: 160px 0 32px;
    }

    .slick-dots {
        height: 30px;
        overflow: hidden;
    }

    // .slick-dots li {
    //     display: none;
    // }

    // .slick-dots li:nth-child(-n+6) {
    //     display: block;
    // }

    #single-blog-post {
        h2 {
            margin: 32px 0 12px;
            font-size: 28px;
        }

        h3 {
            margin: 32px 0 12px;
            font-size: 22px;
        }
    }


    .kumoCore_title {
        justify-content: center;

        img {
            width: 40px;
        }
    }

    .left-full-box {
        padding: 32px;

    }

    .right-full-box {
        padding: 32px;
    }

    .stats-v2 .stats-card {
        padding: 16px 0;
    }

    .stats-v2 p {
        font-size: 14px;
    }


    .bzOpeningsList {
        .bzOpening {
            width: 100%;
        }
    }

    .cats {
        justify-content: center;

        li {
            padding: 6px 12px;
            font-size: 14px;
        }
    }

    .our-team-slider {
        .team-avatar-wrapper {
            img {
                height: 436px;
            }
        }
    }

    .mc-field-group {
        max-width: 100%;
    }

    .single-cs {

        .overview {
           
            align-items: start;
            gap: 24px;
            flex-direction: column;
        }
        p {
            font-size: 16px;
        }
        ul, ol {
            li {
                font-size: 16px;
            }
        }

        // .cs-links {
        //     justify-content: center;
        // }

    }

    .success {
        padding: 32px;
        top: 16%;
        max-width: 92%;
    }
    .feedback {
        p {
            max-height: 100%;
            font-size: 14px;
        }
    }
    .zoom-in img {
        transform: scale(1);
    }
    .zoom-in:hover img {
        transform: scale(1);
    }
    .blog-thumbnail-wrapper {
        height: 220px;
    }
    .cols-2 > * {
        flex: 1 1 100%;
    }

    .approach {
        .approach-card{
            padding: 24px;
           
            &:first-child{
                border: 2px solid var(--color_prim_black);
                border-radius: 16px 16px 0 0;
            }
            &:last-child{
                border: 2px solid var(--color_prim_red);
                margin-top: -2px;
                border-radius: 0 0 16px 16px;
            }
        }
    }

    .single-cs {

        .hero {
            padding-bottom: 40px;
            .container{
                position: static;
            }
            .featured-img{
                height: auto;
            }
        }
        .hero-content {
            margin-top: 0;
            padding: 6%;
            order: 2;
        }

        .hero-cards{
            .item{
                flex: 1 1 100%;
                padding: 18px;
                gap: 16px;
            }
        }
        h3{
            font-size: 24px !important;
        }
        h4{
            font-size: 18px;
        }
    }


    .outcome{
        .total-info:first-child{
          border-right: none;
        }
        .awards-logos{
            .item{
              flex: 0 0 23%;
            }
        }
      }

}

/* ------------------------- sm ------------------------- */
@media only screen and (max-width: 640px) {
    .test {
        line-height: 0;
    }
}


/* ------------------------- X-sm ------------------------- */
@media only screen and (max-width: 476px) {

    .clients {
        .our-team-slider {
            padding: 0 24px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 8px;
        }
        a {
            width: 22%;
            display: inline-block;

            img {
                padding: 8px 4px;
            }
        }
    }

    .review {
        .quote-img {
            width: 28px;
        }
        .content{
            padding-left: 40px;
        }
    }

    .logos.cols-4 {
        .item {
            flex: 0 0 58px;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                width: 40px;
            }
        }
    }

}