/* purgecss start ignore */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
/* purgecss end ignore */
@import 'tailwindcss/utilities';

/* add fonts here */
@import '~assets/css/fonts.css';

* {
  font-family: 'arial', sans-serif;
}

/* Setvices */

#our-work #card-list::-webkit-scrollbar,
#services #card-list::-webkit-scrollbar {
  display: none;
}

#services .card-header,
#our-work .card-header {
  @apply h-36 w-80 bg-no-repeat bg-center bg-cover relative overflow-hidden rounded-xl cursor-pointer;
}

/*===============
======BLOG======
===============*/

/* blog detail */
#text p:not(:first-child) {
  @apply mt-8;
}

#text h2 {
  @apply mt-20 text-2xl;
}

/*===============
======HOME======
===============*/

.bg-section {
  background: rgb(14, 28, 117);
  background: linear-gradient(
    49deg,
    rgba(14, 28, 117, 1) 0%,
    rgba(4, 3, 12, 1) 35%,
    rgba(4, 3, 12, 1) 65%,
    rgba(77, 1, 19, 1) 100%
  );
}

.bg-home-row2 {
  background: rgb(6, 4, 96);
  background: radial-gradient(
    circle,
    rgba(6, 4, 96, 1) 19%,
    rgba(3, 2, 55, 1) 53%,
    rgba(4, 3, 12, 1) 100%
  );
}
/* text gradient */
.title {
  background: linear-gradient(282.76deg, #71bfff 37.95%, #a9ffde 86.7%);
}
h1, h2{
  line-height: 1.16 !important;
}
.title {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.color-black{
  color:#040912;
}
.button-red, .bg-red{
  background-color: #EC4042;
}
.button-red:hover, .bg-red:hover{
  background-color: #e12729;
}
.bgColor-grey{
  background-color: #F4F4F4;
}
.text-l-red{
  color:#EC4042;
}
.box-card{
  transition: box-shadow 300ms ease 0ms;
  cursor: pointer;
  border: 1px solid #e9e9e9;
}
.box-card:hover{
  box-shadow:6px 6px 48px 0px rgb(39 39 52 / 16%);
}
.services-card>div{
  display: none;
}
li {
  display: none;
}
.services-card>div:nth-child(-n+8){
  display: block;
}

.three-lines{
  position: absolute;
  bottom: -100px;
  left: -100px;
  width: 340px;
}
.red-dots{
  position: absolute;
  right: 80px;
  top: 70px;
}
.black-dots{
  position: absolute;
  bottom: 50px;
  left: 25%;
}

.hvr-left, .hvr-right, .hvr-top {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  cursor: pointer;
}

.hvr-left:hover, .hvr-left:focus, .hvr-left:active {
  -webkit-transform: translateX(-8px);
  -ms-transform: translateX(-8px);
  transform: translateX(-8px);
}


.hvr-right:hover, .hvr-right:focus, .hvr-right:active {
  -webkit-transform: translateX(8px);
  -ms-transform: translateX(8px);
  transform: translateX(8px);
}

.hvr-top:hover, .hvr-top:focus, .hvr-top:active {
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
}
.border-graident::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2.5rem;
  padding: 1px;
  background: linear-gradient(45deg, #ff002e, #0500ff);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: destination-out;
  mask-composite: exclude;
}
.border-graident-thick::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 2.5rem;
  padding: 5px;
  background: linear-gradient(45deg, #ff002e, #0500ff);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: destination-out;
  mask-composite: exclude;
}

.overlapped-section{
  padding-top: 300px !important;
  position: relative;
  margin-top: -300px;
  z-index: -1;
}

.truncate-3-lines{
  display: -webkit-box;
  max-width: 100%;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/*.single-post:after{*/
/*  position: absolute;*/
/*  left: 0;*/
/*  right: 0;*/
/*  top: 0;*/
/*  content: '';*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background-color: #000;*/
/*  opacity: 0.7;*/
/*}*/
.markdown{
  text-align: left;
  color: #555C6B;
}
.markdown p{
  margin: 12px 0;
  font-size: 18px;
}
.markdown img{
  border-radius: 0.5rem;
  margin: 16px 0;
}
.blog-description p{
  color: #555C6B;
  font-size: 18px;
  margin-top: 1rem;
}
.blog-description p a{
  color: #e73f41;
}
.blog-and-webinar{
  display: flex;
  flex-direction: column-reverse;
}
.dropdown{
  position: absolute;
  width: 285px;
  background: #0A111E;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  display: none;
  z-index: 999;
}
.dropdown-parent:hover .dropdown{
  display: block;
}

.dropdown li{
  display: block;
  margin: 2px 0;
}
header li, .header li{
  display: inline-block;
}
#career h1,
#contact h1,
#our-work h1,
#services h1,
#home h1 {
  @apply bg-gradient-to-tl to-l-blue from-l-darkblue;
}

#career h1,
#contact h1,
#our-work h1,
#services h1,
#home h1 {
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* background gradient button */
.button-linear-red {
  @apply bg-gradient-to-tl from-l-red to-l-darkred;
}

/* services cards */
.service-card-all {
  @apply w-80 lg:w-347 m-auto rounded-md relative bg-center bg-cover bg-no-repeat transition duration-300 ease-linear border-2;
}

.service-card {
  @apply scale-70 border-black;
}

.service-card-main {
  margin-left: 0;
  margin-right: 0;
}

.service-card-main {
  @apply scale-100 shadow-home-card border-white;
}

.service-card-main-between-2 {
  @apply scale-80 border-black;
}

.service-card-main-between {
  @apply scale-90 border-black;
}

.service-card-left {
  margin-right: calc((288px - (288px * 0.7)) * -1) !important;
}

.service-card-right {
  margin-left: calc((288px - (288px * 0.7)) * -1) !important;
}

.service-card-left-1 {
  margin-right: calc((288px - (288px * 0.9)) * -1) !important;
}

.service-card-right-1 {
  margin-left: calc((288px - (288px * 0.9)) * -1) !important;
}

.service-card-left-2 {
  margin-right: calc((288px - (288px * 0.8)) * -1) !important;
}

.service-card-right-2 {
  margin-left: calc((288px - (288px * 0.8)) * -1) !important;
}

.service-card-layer {
  @apply absolute top-0 bottom-0 right-0 left-0 m-auto;
}

.service-card-gradient {
  @apply absolute top-0 bottom-0 right-0 left-0 m-auto bg-opacity-20 bg-gradient-to-t via-transparent from-black z-10;
}

.service-card-text {
  @apply absolute bottom-0 inset-0 m-auto z-20 mx-3;
}

.service-card-text-description {
  @apply text-lg;
}

/* .home-card-wrapper { */
.service-card-wrapper {
  @apply transition duration-300 ease-linear;
}

@media only screen and (min-width: 1536px) {
  .container{
    max-width: 1400px;
  }
}
.w-90{
 width: 90%;
}
@media only screen and (max-width: 767px) {
  .three-lines, .red-dots, .black-dots{
    display: none;
  }

  .border-graident-thick::before {
    border-radius: 1.8rem;
  }
  .overlapped-section {
    padding-top: 48px !important;
    margin-top: 0;
  }

  .border-graident-thick::before {
    border-radius: 1.2rem;
  }
  .dropdown.sm{
    display: block;
    position: static;
    width: 100%;
  }
  .dropdown.sm li{
    display: block;
  }
}
